### Control Structure 
Genrality :
keyword condition :
    statements 

keywords 
if , if ... elif , if .. else

In [0]:
lst = [1,2,3,4]
x=0
while x<int(len(lst)):
  if lst[x] == 5:
    print("list   have item 5") 
  x=x+1

In [65]:
#recursion
num = int(input("write a number for factorial :")) 
x=0
fact=1
while x<num:
  print("x:",x)
  fact = fact*(x+1)
  print("fact:",fact)
  x=x+1
print(fact)

write a number for factorial :5
x: 0
fact: 1
x: 1
fact: 2
x: 2
fact: 6
x: 3
fact: 24
x: 4
fact: 120
120

#### Control statements on  dirctories 
- how to apply above block on dir

In [47]:
students ={"Pankaj Bansal" : "Electrical Engineer", "Mukul Kashyap":"chemical Engineer","Pankaj saini":"CHE","Shivalik":"CHE","MOHIT":"CHE"}

for key,value in students.items():
  print("Name: %s; Branch: %s"%(key,value))

#just access the key
for key in students.keys():
  print(key)

# for value
for v in students.values():
  print(v)

Name: Pankaj Bansal; Branch: Electrical Engineer
Name: Mukul Kashyap; Branch: chemical Engineer
Name: Pankaj saini; Branch: CHE
Name: Shivalik; Branch: CHE
Name: MOHIT; Branch: CHE
Pankaj Bansal
Mukul Kashyap
Pankaj saini
Shivalik
MOHIT
Electrical Engineer
chemical Engineer
CHE
CHE
CHE

### Functions
- block of code that can be used
- keyword def 
- repeated use code block must be in functions
- appreciate yourself if you come to this far 
genral way :
def tag_name(parameters | arguments ):
  code ...
  return something

In [42]:
pi=3.14
def area_cone(r,h):
  area = pi*r*(r+h)
  return area
area =area_cone(2,3)
print("area of cone is :",area)

area of cone is : 31.400000000000002

In [17]:
#simple recursion

def factorial(x):
  if x==1:
    fact=1 
    return 1
  if x==0 : 
    fact = 1
    return 1
  else :
   fact = x*factorial(x-1)
  return fact 

print(factorial(10))

3628800

In [23]:
def fun_value(l=3,v=4):
  sum = l+v
  return sum

# if user does not input something function still do something 
#know as default function

print(fun_value())
print("with some value :" , fun_value(6,7))

7
with some value : 13

In [0]:
def dir_fun(lst=[],*vargs):
  print(lst)
  for i in vargs :
    print(vargs)
#*vargs is a tuple

In [32]:
def wishing(name=""):
  print("Have a good day "+ name +"!")

wishing("Pankaj")

Have a good day Pankaj!

In [40]:
#anonymous functions
#useful for short operations 
#tag = lambda [args1,args2,args3]:expression args1+args2
sum = lambda arg_1 ,arg_2: arg_1+arg_2

print(sum(10,2))

12

In [57]:
def fun_dir(x={},y={}):
  print(x)
  print(y)


fun_dir(students)


#using **kwargs
def put(x=0,y=0,**name):
  print(name["sname"])
  print(name["fname"] + name["lname"])
  print(x)
  print(y)


put(2,fname="pankaj",lname="saini",sname="hello")

{'Pankaj Bansal': 'Electrical Engineer', 'Mukul Kashyap': 'chemical Engineer', 'Pankaj saini': 'CHE', 'Shivalik': 'CHE', 'MOHIT': 'CHE'}
{}
hello
pankajsaini
2
0