<h3> Python : Language of computer geeks & Hackers </h3>
<p>Everything start at something </p>

In [2]:
print("Hello world")
print("programming custom")

Hello world
programming custom

<h4>Three basic vaiable type 
fundamentally </h4>
<p>An integer : On integer mathematical operatin can be performed </p>
<p>A float : Mathematical operation can be performed </p>
<p>a string : lack of mathematical operation (used for human language element)</p>

<h4>.Variable : Everything start with a variable ,your stories always have it .All objects are variable </h4>
<p> variable have two type </p>
<ol>
<li><p>Constant : Remain unchange during a programm</p></li>
<li> <p>Variable: often varies </p></li>
</ol>

In [3]:
number =24
float_num= 24.24
character = "P"
string = "I am pankaj saini"

# single line comment donw starting with hash
#this print print value of variable & data type of that variable 
print(number,type(number))
print(float_num,type(float_num))
print(character,type(character))
print(string,type(string))

24 <class 'int'>
24.24 <class 'float'>
P <class 'str'>
I am pankaj saini <class 'str'>

<h4> On a variable operation can be applied </h4>
<p> Operation can be basic Mathematical to engineering Mathematics</p>
 - information is working object

In [61]:
# Writing basic operations
#operation applied on integer 
a=6
b=7
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

13
-1
42
0.8571428571428571
6

In [62]:
#operation on a string 
y=len(string)
print(y)

17

<h3> 2.Inputs : Taking inputs from a usr make your programm interactive & provide it life </h3>
<p> input device : keyboard(Major) ,Mouse(secondary) for our use </p>
- default input string

In [64]:
num = input("Enter a number : ")
print(num ,type(num))

Enter a number : 5
5 <class 'str'>

<h4><bold> Caution</bold></h4>
<p> by default python take all input to a string </p>
<p> Default means : it designed in that way<b> So no moral outrage</b> </p>

<p> To get out of this a new concept " Type casting" is introduce </p>

In [65]:
# casting strign to an integer 
num = int(num)
#function can take other functions
#num = int(input("Enter a number : "))
#changing that's to int let us perform mathematical calculations


print(num,type(num))
print(num,num**2)

5 <class 'int'>
5 25

<h3> Python Built in Data structure </h3>
<p>3.1 List </p>

- order collection of data 
- mutable & allow duplicate
-  notation l=[]
- character is not a bulit in data structure

In [81]:
l =["PANKAJ","SHIVALIK","BANSAL","MOHIT","MUKUL"]
print("list",l)

# operation let us  manipulation | mdoification of objects 
#1 Accessing a list item | element both refer to same objects 
x=l[3]
print(x)

#2 slicing a list 
#this will start from 0 to 3

y=l[:3]

# from 3 to last

z=l[3:]

#In that interval 

a=l[1:4]
print('y=',y, "\nz=",z)

#3 appending a list 
#by default it will append at last of list 

l.append("smartphones")
print(l)
 
# to insert at specfic location  : use bulit in function 
l.insert(3,"HOSTEL is love ")

#4 modifing a specfic item in a list 
#if you run twice you can see changes

l[0] = "Ankesh"

#deliting an element 

l.remove("smartphones")
 
# To know number of items in your list 
length=len(l)
print("length of list : " ,length )

#stats operation can be applied on list 
#sorting item by number or charactre 

#in ascending order | forward 
print(sorted(l))

# in descending order | reverse | backward 
print(sorted(l,reverse=True))
 
# printing element from reverse 
print('l[-1]= %s' %l[-1])

list ['PANKAJ', 'SHIVALIK', 'BANSAL', 'MOHIT', 'MUKUL']
MOHIT
y= ['PANKAJ', 'SHIVALIK', 'BANSAL']
z= ['MOHIT', 'MUKUL']
['PANKAJ', 'SHIVALIK', 'BANSAL', 'MOHIT', 'MUKUL', 'smartphones']
length of list :  6
['Ankesh', 'BANSAL', 'HOSTEL is love ', 'MOHIT', 'MUKUL', 'SHIVALIK']
['SHIVALIK', 'MUKUL', 'MOHIT', 'HOSTEL is love ', 'BANSAL', 'Ankesh']
l[-1]= MUKUL

####3.2 Tuples
- Order collection
- immutable & allow duplicates
- notation tag = ()

In [86]:
tup = (1,2,3,4,5)
print(tup)

# verification of immutablity of tuple 
#tup[0] =5 
# it will trough an error 
print(tup)

# But entire tuple can be changed 
tup = (6,7,8)
print(tup)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(6, 7, 8)

#### 3.3Set 
- unorder collection of data
- mutable & does not allow duplicates
- Notation tag = {}

In [88]:
tv_Series={"Game of Thrones","Moeny Heist","Shameless","Mr. Robot"}
print(tv_Series,type(tv_Series))

{'Game of Thrones', 'Moeny Heist', 'Mr. Robot', 'Shameless'} <class 'set'>

In [92]:
#operations on set
a = {23,35,565}
b = { 34,46,77}

#set union
print( a | b)

# set Intersection
print( a & b)

# set difference
print(a-b)

# Symmetric Difference 
print(a ^ b)

# adding an removing set element 
a.add(456)
print(a)

# removing
a.remove(456)
print(a)

{34, 35, 565, 23, 77, 46}
set()
{35, 565, 23}
{34, 35, 77, 46, 565, 23}
{456, 35, 565, 23}
{35, 565, 23}

#### 3.4 Dictionary : Ooo beautiful dictionary 
- unorder collection of key value pair
- mutable
- Notation tag = {key: value}

In [0]:
# actual forma of a directory 
dr={"shivalik": "restigated","Pankaj":130,"Mukul":135,"Pankaj saini":220}
dr

{'Mukul': 135, 'Pankaj': 130, 'Pankaj saini': 220, 'shivalik': 'restigated'}

In [102]:
#operation on dictionary  

#accessing a value by key
print(dr["shivalik"])

#accessing a key by value
#print(dr("restigated"))

#Adding new entry
dr["tech"] = " sports"
print(dr)

#updating already exist entry
dr["shivalik"]=305

#deleting an item in dir
del dr["tech"]
print(dr)

restigated
{'shivalik': 305, 'Pankaj': 130, 'Mukul': 135, 'Pankaj saini': 220}

#### 3.5 Strings
- sequence of a character
- No mathematical manipulation 
- immutable 
- Notation : python allow you both "string ",'string'

In [104]:
string_1 = " bulati nahi per jana ka ha "
string_2 = 'apna time ayga'
print(string_1,'\n',string_2)

 bulati nahi per jana ka ha
 apna time ayga

In [106]:
# string operations 
 #making lower case 
 print(string_1.lower())

 #upper case 
 print(string_2.upper())

 #length of string 
 print(len(string_1))

 # conditions on string
 print(string_1.startswith("A"))
 print(string_2.endswith("m"))

 bulati nahi per jana ka ha
APNA TIME AYGA
28
False
False
apna t

In [139]:
 #slicing the string
 print(string_2[0:6])

 #splitting string in word group
 words = string.split()
 print(words)

 #spliting into characters
 char=list(string_1)
 print(char)

 #cocatentation 
 sc=string_1 + string_2
 print(sc)

 # repetation
 sr = string_1*3
 print(sr)

 #reversing a string 
 # show in the loop below

apna t
['I', 'am', 'pankaj', 'saini']
[' ', 'b', 'u', 'l', 'a', 't', 'i', ' ', 'n', 'a', 'h', 'i', ' ', 'p', 'e', 'r', ' ', 'j', 'a', 'n', 'a', ' ', 'k', 'a', ' ', 'h', 'a', ' ']
 bulati nahi per jana ka ha apna time ayga
 bulati nahi per jana ka ha  bulati nahi per jana ka ha  bulati nahi per jana ka ha

In [151]:
nbr = [1,2,3,2,1]
rev_words=nbr[::-1]
i=0
while i<int((len(nbr))):
  print(i)
  if nbr[i] != rev_words[i]:
     print ("not a palindrom")
     break 
    
  i=i+1

print("Voila ! it's a palindrom ")

0
1
2
3
4
Voila ! it's a palindrom

In [149]:
rev_words

['saini', 'pankaj', 'am', 'I']